*.urgentOnBell: off
*.visualBell: false
*.iso14755: false
*.iso14755_52: off
*.meta8: true
*.depth: 32
*.iconFile: /usr/share/icons/Humanity/apps/128/utilities-terminal.svg
*.metaSendsEscape: truee

*.internalBorder: 0
*.externalBorder: 0

*.scrollBar: off
*.cursorBlink: true
*.cursorUnderline: false
*.cursorColor:#ffff00
*.saveLines: 10000
*.scrollTtyOutput:   false
*.scrollWithBuffer:  true
*.scrollTtyKeypress: true

*depth:32
*foreground:#ADADAD
!*background:rgba:0600/0600/0600/dddd
!*foreground: 15
*geometry: 145x55

!*font: xft:Liberation Mono:pixelsize=11:antialias=true:hinting=true
!*boldFont: xft:DejaVu Sans Mono for Powerline:bold:pixelsize=11:antialias=true:hinting=true
!*italicFont: xft:DejaVu Sans Mono for Powerline:italic:pixelsize=11:antialias=true:hinting=true
!*boldItalicFont: xft:DejaVu Sans Mono for Powerline:bold:italic:pixelsize=11:antialias=true
!*.letterSpace: -1


! Black
*.color0:  #5c5c5c
*.color8:  #4c4c4c
! Red
*.color1:  #cd0000
*.color9:  #ff0000
! Green
*.color2:  #00cd00
*.color10: #00ff00
! Yellow
*.color3:  #cdcd00
*.color11: #ffff00
! Blue
*.color4:  #1e90ff
*.color12: #4682b4
! Magenta
*.color5:  #cd00cd
*.color13: #ff00ff
! Cyan
*.color6:  #00cdcd
*.color14: #00ffff
! White
*.color7:  #cfcfcf
*.color15: #a8a8a8

